@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro:300');

:root {
	--primary-color: #34596b;
	--accent-color: #006f66;
	--primary-color-rgb: 52, 89, 107;
	--accent-color-rgb: 0, 111, 102;

	--base-background-color: white;
	--base-font-family: 'Open Sans', sans-serif;
	--base-text-color: rgba(0, 0, 0, 0.85);

	--numeric-data-font-family: monospace;
	--numeric-data-font-size: 1.25em;

	--heading-font-family: 'Source Sans Pro', sans-serif;
	--heading-text-color: var(--primary-color);
	--heading-font-weight: 300;

	--secondary-heading-font-family: 'Lato', sans-serif;
	--secondary-heading-text-color: var(--accent-color);
	--secondary-heading-font-weight: 500;

	--grey-color: #4d4d4d;

	--footer-height: 15em;

	--primary-text: 0.87;
	--secondary-text: 0.54;
	--disabled-text: 0.38;

	--light-secondary-text: 0.7;
	--light-disabled-text: 0.5;

	--divider-opacity: 0.12;
}

html {
	font-family: var(--base-font-family);
	color: var(--base-text-color);
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 1em;
}

h1,
h2 {
	font-family: var(--heading-font-family);
	color: var(--heading-text-color);
	font-weight: var(--heading-font-weight);
}

h3,
h4,
h5,
h6 {
	font-family: var(--secondary-heading-font-family);
	color: var(--secondary-heading-text-color);
	font-weight: var(--secondary-heading-font-weight);
}

h1 {
	font-size: 3em;
	margin-top: 0.25em;
}

h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

h3 {
	font-size: 1.75em;
	margin-bottom: 0.5em;
}

p {
	margin-top: 0;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
