.dibs-reservations {
	--border-color: #ccc;
}

.dibs-reservations label {
	display: inline-block;
}

.dibs-reservations label :is(input, textarea, select) {
	display: block;
}

.dibs-reservations pre {
	font-family: inherit;
	margin: 0;
	white-space: pre-wrap;
}

.dibs-reservations h1 {
	font-size: 3em;
	margin-top: 0.25em;
}

.dibs-reservations h2 {
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.dibs-reservations h3 {
	font-size: 1.75em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.dibs-reservations h4 {
	font-size: 1.35em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.dibs-reservations p {
	margin-top: 0;
}

.dibs-reservations nav ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.dibs-reservations nav li {
	display: block;
	margin: 0.5em;
}

.dibs-reservations .button-container {
	margin: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dibs-reservations .button-container > * {
	margin: 0.5em;
}

.dibs-reservations .error-container {
	border: 1px solid rgba(255, 0, 0, 0.4);
	background-color: rgba(255, 0, 0, 0.01);
	color: crimson;
}
