.dibs-reservations {
	--border-color: #ccc;
}

.dibs-reservations fieldset {
	border: 1px solid var(--border-color);
}

.dibs-reservations label {
	display: inline-block;
}

.dibs-reservations label :is(input, textarea, select) {
	display: block;
	box-sizing: border-box;
	width: 100%;
}

.dibs-reservations :is(input, textarea, select, button, a):disabled {
	cursor: not-allowed;
}

.dibs-reservations pre {
	font-family: inherit;
	margin: 0;
	white-space: pre-wrap;
}

.dibs-reservations h1 {
	font-size: 3em;
	margin-top: 0.25em;
}

.dibs-reservations h2 {
	font-size: 2em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.dibs-reservations h3 {
	font-size: 1.75em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.dibs-reservations h4 {
	font-size: 1.35em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.dibs-reservations .button-container {
	margin: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dibs-reservations .button-container:last-child {
	margin-bottom: 0;
}

.dibs-reservations .button-container > * {
	margin: 0.5em;
}

.dibs-reservations .error-container {
	padding: 1em;
	position: relative;
	border: 1px solid rgba(255, 0, 0, 0.4);
	border-radius: 2px;
	background-color: rgba(255, 0, 0, 0.05);
	color: crimson;
}

.dibs-reservations .error-container .dismiss {
	box-sizing: border-box;
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	border: 1px solid transparent;
	background: none;
	color: crimson;
	padding: 0.25em 0.5em;
	cursor: pointer;
}

.dibs-reservations .error-container .dismiss:hover,
.dibs-reservations .error-container .dismiss:focus,
.dibs-reservations .error-container .dismiss:active {
	border: 1px solid rgba(255, 0, 0, 0.5);
	background-color: rgba(255, 0, 0, 0.1);
}

.dibs-outline-button {
	box-sizing: border-box;
	display: inline-block;
	border-radius: 5px;
	border: 2px solid;
	border-color: currentcolor;
	padding: 0.5em 1em;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

.dibs-outline-button[disabled] {
	opacity: 0.9em;
	background-color: #ccc;
	cursor: not-allowed;
}

.dibs-outline-button:hover,
.dibs-outline-button:focus,
.dibs-outline-button:active {
	text-decoration: none;
	background-color: #ddd;
}
